@media (min-width: 250px) {
    .content {
        width: 100%;
        background: #4CCEB2; /* Для браузеров, которые не поддерживают градиенты */
        background: -webkit-radial-gradient(#4CCEB2, #2F8FD8); /* Для Opera 11.1 - 12.0 */
        background: -o-radial-gradient(#4CCEB2, #2F8FD8); /* Для Opera 11.1 - 12.0 */
        background: -moz-radial-gradient(#4CCEB2, #2F8FD8); /* Для Firefox 3.6 - 15 */
        background: radial-gradient(#4CCEB2, #2F8FD8); /* Стандартный синтаксис */
        display: flex;
        justify-content: center;
    }
    .pokemonsCards {
        width: 90%;
        height: auto;
    }
    .nopokemons {
      display: flex;
      justify-content: center;
      font-weight: bold;
      padding-top: 50px;
    }
}
@media (min-width: 750px) {

}
