@media (min-width: 250px) {
    .tagsPanel {
        width: 100%;
        height: auto;
        background: midnightblue;
        opacity: 0.95;
        box-shadow: inset 0 0 5px 2px yellow;
        padding-top: 10px;
        padding-bottom: 10px;
        perspective: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    ul {
        padding-left: 30px;
        padding-right: 30px;
    }
    ul li{
        cursor: pointer;
        height: 15px;
        width: auto;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        list-style: none;
        padding: 5px;
        margin: 5px;
        float: left;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px yellow;
        transform: rotate3d(0.2, 0, 0, 20deg);
        -moz-transform: rotate3d(0.2, 0, 0, 20deg);
        -webkit-transform: rotate3d(0.2, 0, 0, 20deg);
    }
    ul li:hover{
        background-color: #2F8FD8;
    }
}
@media (min-width: 750px) {

}
