@media (min-width: 250px) {
    .filtersPanel {
        width: 100%;
        height: auto;
        background: midnightblue;
        opacity: 0.95;
        box-shadow: inset 0 0 5px 2px yellow;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 750px) {
    .filtersPanel {
        height: 50px;
        padding: 0;
        flex-direction: row;
    }
}
